:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --primary-color: #e9efff;
  --accent-dark-color: #4663ac;
  --accent-light-color: #ffc266;
  --neautral-color: #7e95e4;
}
